<h1>Burgers</h1>
<div class = "row">
  <div class = "col-md-4">
<div class = "first">
<h2>Burgers not devoured</h2>
<hr>
<div>
  {{#each burgers}}
    {{#unless devoured}}
     <div> {{this.burger_Name}} </div>
     <button type="submit" data-burgerid="{{this.id}}" id="switch" class="btn btn-light" data-devoured="{{devoured}}">Devour</button>
    {{/unless}}
  {{/each}}
</div>
</div>
</div>

<div class = "col-md-4">
<div class = "second">
<h2>Burgers that are devoured!</h2>
<hr>
<div>
  {{#each burgers}}
    {{#if devoured}}
      <div>{{this.burger_Name}}</div>
    {{/if}}
  {{/each}}
</div>
</div>
</div>

<div class = "col-md-4">
<div =  "last">
<h2>Enter the burger you'd like to devour here</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgername">Burger Name:</label>
    <input type="text" id="burgername">
    <button type="submit" class="btn btn-light">Add Burger</button>
  </div>
</form>
</div>
</div>
</div>
