body {
    background-image: url("../images/photo-1536510233921-8e5043fce771.jpg");
    background-size: 100%;
    color: white;
}
h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 58px;
    padding: 30px;
}
h2 {
    font-family: 'Courgette', cursive;

}
.first {
    float: left;
    width: 40%;
    margin-left: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Poiret One', cursive;

}
.second{
    float: left;
    width: 40%;
    text-align: center;
    font-size: 25px;
    font-family: 'Poiret One', cursive;

}

.back {
    background-color: rgba(255, 255, 255, 0.096);
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25;
}
hr {
    border-color: white;
}